// Breakpoints
$bp-larger-than-mobile: "min-width: 400px" !default
$bp-larger-than-phablet: "min-width: 550px" !default
$bp-larger-than-tablet: "min-width: 750px" !default
$bp-larger-than-desktop: "min-width: 1000px" !default
$bp-larger-than-desktophd: "min-width: 1200px" !default

// Colours
// http://www.colourlovers.com/palette/57650/She_Sells_Seashells.


// Key colours
$base: #9FC9D6
$background: lighten($base, 5%)

$white: #FFFEFA
$black: #000

$text-colour: #000
$text-light: darken($base, 15%)
$text-dark: mix($text-light, $text-colour, 70%)

$link-colour: mix($text-light, $text-colour, 50%)
$link-colour-hover: darken($link-colour, 20%)
$abbr-border: mix($background, $text-dark, 80%)

// Specific colours

$background-start:            darken($background, 4%)
$text-colour-shadow:          mix($background, $black, 70%)

$link-colour-header:          mix($white, $text-light, 80%)
$text-contact-body:           mix($text-light, $text-colour, 70%)
$text-contact-link:           mix($text-light, $text-colour, 50%)

$button-colour:               mix($background, $text-dark, 80%)
$button-colour-hover:         mix($background, $text-dark, 70%)

$portfolio-media-colour:      darken($background, 20%)
$text-aside-details:          mix($background, $text-dark, 50%)
$text-portfolio-details:      mix($background, $text-dark, 40%)
$text-portfolio-details-link: mix($background, $text-dark, 25%)

$text-cv-body:                mix($text-colour,  $white, 70%)
$text-cv-details:             mix($text-cv-body, $text-dark, 40%)
$separator-colour:            mix($background, $text-light, 50%)
$text-faded:                  mix($background, $text-colour, 65%)

$link-colour-dark:            mix($link-colour, $black, 50%)


// Colors -- SKELETON
$light-grey: #e1e1e1 !default
$dark-grey: #333 !default
$primary-color: #33c3f0 !default
$secondary-color: lighten($dark-grey, 13.5%) !default
$border-color: #bbb !default
$link-color: #1eaedb !default
$font-color: #222 !default
// END skeleton


// Fonts

$font-stack-sans-serif: "soleil", "Verdana", "Gill Sans", "Lucida Grande", "Arial", "Helvetica", sans-serif
$font-stack-serif: "alegreya", "Palatino", "Georgia", "Times New Roman", "Hoefler Text", "Baskerville", serif
$font-stack-mono: Menlo, Courier New, Courier, Mono, monospace


//Grid Variables
$container-width: 1200px !default
$container-width-larger-than-mobile: 85% !default
$container-width-larger-than-phablet: 80% !default
$total-columns: 10 !default
$column-width: 100 / $total-columns !default

// calculates individual column width based off of # of columns
$column-margin: 2% !default

// space between columns

// Misc
$portfolio-image-height: 260px
$global-radius: 4px !default
