.row
    h1.eight.columns.offset-by-two Victor Loux

section.row.intro
    p.title.seven.columns.offset-by-two
        | I&rsquo;m a cross-disciplinary <strong>interaction designer</strong>,
        | <strong>developer</strong> &amp;&nbsp;<strong>research student</strong>
        | based in London.

    p.interests.seven.columns.offset-by-two
        | My practice is at the intersection of people, design, and&nbsp;technology.
        | I am currently researching ways to make personal <strong>digital&nbsp;archiving</strong>
        | more usable and meaningful.

        //- | My interests lie in <strong>digital preservation</strong>,
        //- | <strong>data visualisation</strong>, service design, physical computing (IoT),
        //- | <strong>typography</strong>, natural language processing, accessible design, and&nbsp;security&nbsp;usability.


nav.contact
    h2.eight.columns.offset-by-two.sr-only Contact and links
    
    .row
        h3.aside.two.columns email
        p.eight.columns
            a(href='mailto:io@victorloux.uk') io@victorloux.uk
    .row
        h3.aside.two.columns about
        p.eight.columns
            a(data-scroll='', href='#projects') projects
            |  / 
            a(data-scroll='', href='#cv', lang='LA') curriculum vit&aelig;
    .row
        h3.aside.two.columns &amp;c.
        p.eight.columns
            a(href='http://twitter.com/lgorithm') Twitter
            |  / 
            a(href='https://github.com/victorloux') GitHub
            |  / 
            a(href='/bookmarks/') Bookmarks
