<!--googleoff: all-->

section.cv
    header
        h2#cv Curriculum Vit&aelig;

    section
        article
            aside
                | about &rarr;
            div.definition
                p
                    | 24 &middot; London, UK &middot;
                    a(href='/cv-victorloux.pdf') download as PDF
                    |  &middot;
                    a(href='https://keybase.io/vloux') PGP key


    section
        header
            h3 Education
            .line

        article
            aside
                //- time(datetime='2016') 2016
                time(datetime='2015') 2015
                |  &mdash;
                time(datetime='2019') 2019
            div.definition
                h4
                    abbr(title='Doctor of Philosophy')
                        | P<em>h</em>D
                    |  &middot; Media and Arts Technology
                    span &mdash;&nbsp;current
                p
                    strong
                        abbr(title='School of Electrical Engineering and Computer Science') EECS
                        |, Queen Mary University of London
                    | , England <br>
                    | Supervised by Drs Hamed Haddadi and Nick Bryan-Kinns<br>
                    | Digital Economy Centre for Doctoral Training, funded by the
                    abbr(title='Engineering and Physical Science Research Centre') EPSRC

        //- article
        //-     aside
        //-         time(datetime='2015') 2015
        //-         |  &mdash;
        //-         time(datetime='2016') 2016
        //-     div.definition
        //-         h4
        //-             abbr(title='Masters of Science')
        //-                 | MS<em>c</em>
        //-             |  &middot; Media and Arts Technology
        //-         p
        //-             strong EECS, Queen Mary University of London</strong>
        //-             | , England &middot; with distinction<br>

        article
            aside
                time(datetime='2011') 2011
                |  &mdash;
                time(datetime='2015') 2015
            div.definition
                h4
                    abbr(title='Bachelor of Science with Honours')
                        | BS<em>c</em> (Hons)
                    |  &middot; Digital Interaction Design
                p
                    strong
                        abbr(title='Duncan of Jordanstone College of Art and Design') DJCAD
                        |, University of Dundee
                    | , Scotland &middot; with first class honours <br>
                    | winner of the William Armstrong Davidson prize

        article
            aside
                time(datetime='2009') 2009
                |  &mdash;
                time(datetime='2011') 2011
            div.definition
                h4
                    | Professional Baccalaureate (<abbr title="Higher National Certificate">HNC</abbr> equivalent)
                    | &middot; Graphic Design
                p
                    strong Lyc&eacute;e Gutenberg
                    | , Illkirch, France &middot; [
                    abbr(title="Baccalauréat Professionnel Artisanat & Métiers d'Art option: Communication Graphique") Bac Pro AMA CG
                    | ] &middot; overall merit

        article
            aside
                time(datetime='2007') 2007
                |  &mdash;
                time(datetime='2009') 2009
            div.definition
                h4 BEP (National Certificate equivalent) &middot; Prepress and Print Production
                p
                    strong Lyc&eacute;e Gutenberg
                    | , Illkirch, France &middot; [
                    abbr(title="Brevet d'Études Professionnelles - Métiers de la Communication et des Industries Graphiques") BEP MCIG
                    | ] &middot; overall merit


    section
        header
            h3 Work experience
            .line.low


        article
            aside
                time(datetime='2016-09') sept 2016
                |  &mdash;
                time(datetime='2015-12') may 2017
            div.definition
                h4 Teaching assistant
                p
                    strong Queen Mary University of London
                    | , England
                p.details
                    | Lab demonstration &amp; external support for masters and undergraduate students<br>
                    | Introduction to creative coding, and graphical user interfaces

        article
            aside
                time(datetime='2016-04') april
                |  &mdash;
                time(datetime='2016-09') september 2016
            div.definition
                h4 Data engineer intern
                p
                    strong b00t
                    | , London, England
                p.details
                    | Research &amp; development for an interactive art installation

        article
            aside
                time(datetime='2015-06') june
                |  &mdash;
                time(datetime='2015-09') november 2015
            div.definition
                h4 Research assistant / back-end web developer
                p
                    strong dot.rural at the University of Aberdeen
                    | , Scotland
                p.details
                    | Development &amp; UX design of an API and custom CMS, as part of the WoodWorks project
        article
            aside
                time(datetime='2014-06') july 2014
                |  &mdash;
                time(datetime='2015-12') february 2015
            div.definition
                h4 Web developer &amp; UX designer
                p
                    strong Arth&eacute;non
                    | , Strasbourg, France
                p.details
                    | UX and development of an internal web app for writers and digital publishers
        article
            aside
                time(datetime='2014-05') may
                |  &mdash;
                time(datetime='2014-12') december 2014
            div.definition
                h4 Research assistant / Interaction designer &amp; developer
                p
                    strong University of Dundee
                    | , Scotland
                p.details
                    | Co-conception, engineering and development of a physical research prototype<br>
                    | With Dr. Alessandrini. Outcomes <a href="http://dl.acm.org/citation.cfm?id=2930675">presented</a> at <abbr title="International Conference on Interaction Design and Children">IDC</abbr> &rsquo;16.
                    //- | Alessandrini, A., Loux, V. and Serra, G. (2016) <em>Prototyping ‘ReduCat’: Audio-Augmented Paper for the Therapy of High-Functioning Autism Children</em> in HCI International
        article
            aside
                time(datetime='2013-01') january 2013
                |  &mdash;
                time(datetime='2014-02') feb 2014
            div.definition
                h4 Back-end web developer
                p
                    strong mtc. media
                    | , Dundee, Scotland
                p.details
                    | Development, expansion and maintenance of a range of e-commerce and corporate websites, both high-profile and local businesses, at Scotland&apos;s fastest-growing web agency

        article
            aside january 2010 &mdash; aug 2011
            div.definition
                h4 Head of online communication
                p
                    strong FIDL The Students&apos; Union
                    | , Paris, France
                p.details
                    | Reorganisation of the online activism strategies, rebranding of the Union, community management, organisation of a conference, and of an anti-discrimination campaign
        article
            aside &amp;c.
            div.definition
                p

                    strong.emphasis work exhibited
                    |  at
                    strong Sónar+D
                    | 2016 (Barcelona),
                    strong Intersections
                    | 2016 (London),
                    strong
                        abbr(title="International Conference on Interaction Design and Children") IDC
                    | &rsquo;16 (Manchester), and
                    strong New Designers
                    | 2015 (London)
                    br

                    strong.emphasis freelance work
                    |  as a graphic designer and developer for
                    strong Philippine Janssens
                    | ,
                    strong Mars Chocolate
                    | ,
                    strong Singlie Farmhouse
                    |  and&nbsp;
                    strong Cargo&Eacute;lan

                    br
                    strong.emphasis internships
                    |  at
                    strong Com&apos;Quoi
                    |  (January&nbsp;2011),
                    strong Disturbance
                    |  (October&nbsp;2010),
                    strong Shining Karma
                    |  (June&nbsp;2010),
                    strong Actweb
                    |  (March&nbsp;2010) and&nbsp;
                    strong Reymann
                    |  (May&nbsp;2008)

    section
        header
            h3 Skills
            .line

        article
            aside Design
            div.definition
                p
                    | <strong>Usability engineering</strong> &amp; interaction design
                    br
                    | <strong>Design ethnography</strong>, research and evaluation
                    br
                    | <strong>Microinteractions</strong> development
                    br
                    | User <strong>interface</strong> design
                    br
                    | Data visualisation
                    br
                    | <strong>Editorial</strong> &amp; graphic design

        article
            aside Tools
            div.definition
                p
                    strong Prototyping &rarr;
                    |  Arduino, Axure, Framer, OmniGraffle, InVision, <span class="limexp">Rhino&thinsp;/&thinsp;3D Printing*</span>
                    br
                    strong Interactive &rarr;
                    |  Processing, Quartz Composer, <span class="limexp">Max/MSP*, OpenCV*</span>
                    br
                    strong Graphics &rarr;
                    |  Illustrator, Sketch, InDesign, Photoshop, Fireworks
                    br
                    strong Audiovisual  &rarr;
                    |  Resolume, Final Cut Pro, <span class="limexp">Motion*, Logic Pro*</span>
                    br
                    strong Software &rarr;
                    |  Python, Laravel / PHP, Node, SQL, <span class="limexp">Java*, Ruby*</span>
                    br
                    strong Web &rarr;
                    |  Javascript, D3.js, HTML&thinsp;/&thinsp;CSS, Sass, <span class="limexp">PhoneGap*, Backbone*</span>
                    br
                    strong Misc. &rarr;
                    |  Git, LaTeX, shell scripting, <span class="limexp">woodworking*, R*</span>


                p.limexp * = limited experience

        article
            aside Interests
            div.definition
                p Typography, digital preservation, data visualisation, service design, information architecture, physical computing (IoT), natural language processing, information security
        article
            aside Misc.
            div.definition
                p
                    | Fluent in French and English; beginner in German, Spanish and Icelandic
                    br
                    | Full clean EU driving licence. Trained for first aid at work.

<!--googleon: all-->
