header
    h1 Victor Loux

section.intro
    p.title
        | I&rsquo;m a cross-disciplinary <strong>interaction designer</strong>, 
        | <strong>developer</strong> &amp;&nbsp;<strong>research student</strong>
        | based in London.

    p.interests
        | My practice is at the intersection of people, design, and&nbsp;technology.
        | I am currently researching ways to make personal <strong>digital&nbsp;archiving</strong>
        | more usable and meaningful.

        //- | My interests lie in <strong>digital preservation</strong>,
        //- | <strong>data visualisation</strong>, service design, physical computing (IoT),
        //- | <strong>typography</strong>, natural language processing, accessible design, and&nbsp;security&nbsp;usability.


section.contact
    article
        h4 email
        p
            a(href='mailto:io@victorloux.uk') io@victorloux.uk
    article
        h4 things
        p
            a(data-scroll='', href='#work') portfolio
            |  / 
            a(data-scroll='', href='#cv') curriculum vit&aelig;
    article
        h4 &amp;c.
        p
            a(href='http://linkedin.com/in/victorloux/en') LinkedIn
            |  / 
            a(href='http://twitter.com/lgorithm') Twitter
            |  / 
            a(href='https://pinboard.in/u:vloux') Bookmarks