
.bookmarks
    article
        margin-bottom: 4rem

        h4 a:link, h4 a:visited
            text-decoration: none
            color: black

        h4 a:hover
            text-decoration: underline

        .link
            margin: .4em 0
            font-weight: normal

            color: mix($background, $text-dark, 20%)
            text-decoration: none

            &:hover,
            &:hover strong
                color: $link-colour-dark

            strong
                color: $text-dark

        .details
            +serif
            padding-left: 0.4em
            border-left: 4px solid $text-dark
            margin: 0.4em 0
            font-size: 1.7rem
            color: $text-dark

        .tags
            list-style-type: none
            margin: .8em 0 0
            padding: 0
            clear: both

            li
                display: inline-block
                margin-left: 0
                margin-bottom: 0
                font-size: 1.7rem

                &:first-of-type
                    +real-small-caps
                    font-size: 1em
                    margin-right: 0.5em
                    color: $text-dark

                a
                    +button

.pagination
    padding: 0

    li
        list-style-type: none
        display: inline-block
        font-size: 2rem

    & a:link, & a:visited
        +button

.extra
    $search-height: 30px
    $search-corner: 6px

    .search
        margin: 1em 0 3em

    input[type="text"]
        border-radius: $search-corner 0 0 $search-corner
        border: 0
        margin: 0
        padding: 3px 0 3px 8px
        height: $search-height
        width: 40%

    input[type="submit"]
        border-radius: 0 $search-corner $search-corner 0
        border: 0
        margin: 0
        height: $search-height
        background-color: $text-light
        // Reset Skeleton styles
        font-size: inherit
        line-height: inherit
        letter-spacing: 0
        text-transform: none
