doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title Victor Loux &mdash; interaction designer
        link(rel='stylesheet', href='/assets/css/main.css')
        script(src='//use.typekit.net/tik4qco.js')
        script.
            // check for safari and if yes, add a 'safari' class for small caps
            if(!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)){
                document.addEventListener("DOMContentLoaded", function () {
                    document.getElementsByTagName("body")[0].className += "safari"
                }, false);
            }
            try{Typekit.load();}catch(e){}
    body
        .container
            include ./pages/intro.pug
            include ./pages/work.pug
            include ./pages/cv.pug

        script(src='/assets/js/smoothscroll.js')
        script.
            smoothScroll.init({
                speed: 650,
                easing: 'easeOutQuint', // Easing pattern to use
                offset: 50, // Integer. How far to offset the scrolling anchor location in pixels
            });
            
            // CSS tooltips - remove the browser tooltip, replace with data-title
            document.addEventListener("DOMContentLoaded", function() {
                var a = document.getElementsByTagName("abbr")
                for(var i = 0; i < a.length; ++i) {
                    a[i].setAttribute('data-title', a[i].title);
                    a[i].removeAttribute('title');
                }
            });
